html {
    overflow-x: unset !important;
}

body {
    overflow-x: hidden;
    margin: 0;
    opacity: 0;
    visibility: hidden;

    &.showBody {
        opacity: 1;
        visibility: visible;
    }

    @include downMd {
        font-size: 14px;
    }
}

main {
    position: relative;
}

.wrapHome {
    overflow-x: hidden;
}

/* ===================================
            Background Section
=================================== */
.bgSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $color5;
        opacity: 0.5;
    }

    ~* {
        position: relative;
    }
}

.isIOS .bgSection {
    position: fixed;
    background-attachment: unset;
}

/* ===================================
             Wrap Content
=================================== */
.wrap-content1 {
    padding: 90px 0;
}

.wrap-content2 {
    padding: 60px 0;
}

.wrapContent3 {
    padding: 30px 0;
}

@media (max-width: 1400px) {
    .wrap-content2 {
        padding: 50px 0;
    }
}

@media (max-width: 991px) {

    .wrap-content1,
    .wrap-content2 {
        padding: 30px 0;
    }
}

/* ===================================
             Hero Slide
=================================== */
.section-head {

    .header-bottom--left .wrap-content {
        display: table;
        margin-left: auto;
        margin-right: auto;
    }

    .wrap-pagination {
        position: absolute;
        width: 100%;
        z-index: 10;

        @include upSm {
            transform: translateX(-50%);
            top: 50%;
            left: 50%;
        }
    }

    .customPagination {
        left: unset;
        right: 50%;
        width: fit-content;
        height: fit-content;
        display: flex;

        @include upSm {
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            flex-direction: column;
        }

        @include downSm {
            top: unset;
            transform: translateX(50%);
            bottom: 15px;
        }

        .swiper-pagination-bullet {
            width: 24px;
            height: 24px;
            border: 2px solid $color1;
            opacity: 0.8;
            background-color: transparent;
            margin: 8px 0;
            transition: all .3s;
            outline: none;

            &:hover {
                background-color: rgba(255, 255, 255, 0.5)
            }

            @include down-1220 {
                width: 20px;
                height: 20px;
            }

            @include downLg {
                margin: 6px 0;
            }

            @include downSm {
                width: 12px;
                height: 12px;
                margin: 0 8px;
            }


            &.swiper-pagination-bullet-active {
                background-color: $color1;
                opacity: 1;
            }
        }
    }
}

/* =============================
        HEADER COMMON
============================= */
.header {
    .head {
        position: relative;
        z-index: 2;
    }


    .header-top--right,
    .header-top--left {
        padding: 0;
    }

    .header-top--left-item,
    .header-top--right-item {

        @include downXl {
            display: none;
        }
    }

    .header-language,
    .wrap-cart-header {
        @include downXl {
            display: block;
        }
    }


    .header-top--left-item,
    .header-top--right-item {
        color: $color1;

        &:hover {
            color: $color3;
        }

        a {
            transition: .5s;
            text-decoration: none;
            color: currentColor;

            @include downXxl {
                font-size: 18px;
            }
        }
    }

    .wrap-cart-header {
        color: $color1;
        cursor: pointer;

        i {
            @include downSm {
                font-size: 14px !important;
            }
        }
    }
}

/* =============================
        HEADER MOBILE
============================= */
.header {
    .wrapBtnCtrMenuHeader {
        transition: 0.5s;
        float: left;
        width: 150px;

        @include upXl {
            display: none;
        }

        @include downSm {
            width: 100px;
        }

        .btnCtrMenu {
            color: $color1;
            display: block;
            width: 25px;
            height: 25px;
            position: relative;
            display: block;

            svg {
                width: 25px;
                height: 25px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: 0.5s;

                &.iconClose {
                    opacity: 0;
                }
            }
        }
    }

    .wrap-menu-mobile {
        position: fixed;
        top: 80px;
        bottom: 0;
        left: 0;
        width: 350px;
        height: calc(100vh - 80px);
        background-color: $color1;
        z-index: 1;
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .5s;
        font-family: "Quicksand-Bold";

        .menu-list {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .menu-item {
            padding: 15px;
            font-size: 18px;
            font-weight: 600;

            &:not(:last-child) {
                border-bottom: 1px solid $color22;
            }
        }

        .link-item {
            color: $color2;
            text-decoration: none;
        }

        @include upXl {
            display: none;
        }
    }

    .wrap-bg-menu-mobile {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 0;
        visibility: hidden;
        transition: .5s;

        @include upXl {
            display: none;
        }

    }
}

.showMenu {
    overflow: hidden;

    .wrapBtnCtrMenuHeader {

        .btnCtrMenu {
            svg {
                &.iconOpen {
                    opacity: 0;
                }

                &.iconClose {
                    opacity: 1;
                }
            }
        }
    }
}

.showMenu .header {
    .wrap-menu-mobile {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .wrap-bg-menu-mobile {
        opacity: 1;
        visibility: visible;
    }

    .head {
        background-color: $color2;
        position: relative;
        z-index: 2;
    }
}

.fixedMenu .header {
    .wrap-menu-mobile {
        top: 70px;
        height: calc(100vh - 70px);
        top: 70px;
        height: calc(100vh - 70px);

        @include downSm {
            top: 66px;
            height: calc(100vh - 66px);

        }
    }
}

/* =============================
        HEADER SUB MENU
============================= */
.header {

    .header-top--left-item,
    .header-top--right-item {
        &.subMenu {
            position: relative;
        }

        &:hover {
            .wrapSubMenuHeader {
                pointer-events: all;
                visibility: visible;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    .btnDropdownMenuSub {
        display: inline-block;
    }

    .wrapSubMenuHeader {

        @include up-1221 {
            position: absolute;
            top: 100%;
            left: -20px;
            z-index: 991;
            visibility: hidden;
            opacity: 0;
            transition: all 0.3s ease-in;
            padding-top: 15px;
            min-width: calc(100% + 30px);
            max-width: 350px;
            transform: translateY(16px);
        }

        .listMenuHeader {
            list-style: none;
            padding: 5px 20px;
            white-space: nowrap;

            @include up-1221 {
                box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.1);
                border-radius: 10px;
                background-color: white;
                border: 1px solid #e5e5e5;
            }

            @include down-1220 {
                margin-left: -15px;
                margin-right: -15px;
                background-color: #f8f8f8;
                margin-top: 15px;
                margin-bottom: -15px;
                transition: .5s;
            }
        }

        .linkMenuHeader {
            text-transform: capitalize;
            font-size: 18px;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            padding: 5px 0;
            color: #202020;
            font-weight: 400;
            text-decoration: none;
            transition: .5s;
            font-family: Quicksand-Regular;
            display: block;

            @include down-1220 {
                font-size: 14px;
            }

            &:hover {
                color: $color3;
            }
        }
    }
}

/* =============================
        HEADER LANGUAGE
============================= */
.header {
    .header-language {
        color: $color1;
        display: flex;
        align-items: center;
        margin-right: 0;

        .language-btn {
            cursor: pointer;
            position: relative;
            padding-right: 15px;

            img {
                border-radius: 4px;
                width: 40px;
                display: block;

                @include downSm {
                    width: 32px;
                }
            }
        }

        .dropdown-btn {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            color: $color1;

            i {
                margin-left: 5px;
            }
        }

        .language-content {
            position: relative;
        }

        .dropdown-languge {
            position: absolute;
            top: 100%;
            left: -10px;
            z-index: 993;
            display: none;
            margin-top: 15px;
        }

        .content-list {
            box-shadow: $boxShadow3;
            padding: 7px 0;
            background-color: $color1;
            border-radius: 5px;

            a {
                padding: 7px 12px;
                display: block;
                transition: 0.5s;
                text-align: center;

                img {
                    width: 40px;
                    display: block;
                    border-radius: 4px;
                }

                &:hover {
                    opacity: 0.5;
                }
            }
        }
    }
}

/* =============================
    BACKGROUND SECTION
============================= */
.wrapHome .bgSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F3EDDD;
    opacity: 0.5;
}

/* =============================
      ULTILITIES SECTION
  ============================= */
.first-main--row .col-3 img {
    max-width: 100px;
}

.wrap-utilities {
    .first-main--row {
        margin-top: -30px;

        @include downSm {
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .col-item {
        text-align: center;
        margin-top: 30px;

        &:not(:last-child) {
            border-right: 1px solid $color23;
        }

        @include downXl {
            &:nth-child(2) {
                border-right: 0;
            }
        }

        @include downSm {
            padding: 0 7.5px;
        }
    }

    .title-item {
        font-weight: 600;

        @include down-1600 {
            font-size: 26px;
        }

        @include downXxl {
            margin-bottom: 10px;
            font-size: 22px;
        }

        @include downSm {
            font-size: 18px;
        }

        @include downXs {
            font-size: 15px;
            margin-bottom: 5px;
        }
    }

    .text-item {}

    img {

        @include downXxl {
            width: 76px;
        }

        @include downSm {
            width: 56px;
        }

        @include downXs {
            width: 40px;
        }
    }
}

/* =============================
      NEWS SECTION
  ============================= */
.experience-main--introduce-product-item-mains h3 {
    margin-top: 15px;
}

/* =============================
      ABOUT SECTION
  ============================= */
.wrapHome .about-section .second-main--h1 {
    max-width: unset;
}

.wrapHome .about-section .second-main--h1 .title-main {
    font-size: 58px;
    font-weight: 700;
}

.wrapHome .about-section {
    .second-main--row-col1 {
        @include downMd {
            text-align: center;
        }

        img {
            width: 100%;

            @include downXxl {
                max-width: 480px;
            }

            @include downMd {
                max-width: 320px;
            }
        }
    }
}

/* =============================
          COLLECTION SECTION
============================= */
.collection-main--product-list-pro {
    .title-main {
        font-weight: 600;
        font-size: 18px;
        margin-top: 15px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;

        @include downSm {
            font-size: 16px;
        }
    }
}

.collection-main--product-list-pro--img-oder {
    .btn-cart {
        margin-left: 15px;
    }
}

.collection-main--product-list-pro--img-cost {
    align-items: center;
}

/* =============================
        TESTIMOIAL SECTION
============================= */
.evalue-main {
    .evalue-main--product-row-col-evalue {
        padding: 15px;
    }

    .star-evalue {
        align-items: center;
    }

    .star-evalue-name {
        text-align: left;
        margin-left: 15px;

        p {
            margin-bottom: 10px;
        }

        ul {
            padding: 0;
        }
    }
}


/* =============================
        PROMOTION SECTION
============================= */
.promotion-main {
    position: relative;

    .wrap-count {
        @include downXl {
            @include upMd {
                position: absolute;
                width: 50%;
                width: 50%;
                top: 30px;
                right: 15px;
                padding-left: 30px;
            }
        }
    }
}

.wrapPromotionSlide {
    .swiper {
        padding: 4px;
    }

    .swiper-slide {
        height: unset;
        align-self: normal;
    }

    .row {

        @include downMd {
            flex-wrap: nowrap;

            >div {

                flex: unset;
                max-width: unset;
            }
        }
    }

    .row .col-5 {
        @include downMd {
            width: 160px;
            flex-shrink: 0;
        }

        @include downSm {
            width: 120px;
        }
    }

    .row .col-7 {
        @include downMd {
            width: 100%;
            padding: 0;
        }
    }
}

.promotion-main--mains-eight {
    @include downXl {
        position: unset !important;
    }
}

.promotion-main--mains-eight--product-class-information {
    h2 {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }
}

.promotion-main--mains-eight--product-class-information .free {
    margin-bottom: 10px;

    h3 {
        margin-bottom: 0;
    }
}

.promotion-main--mains-four-image {
    @include downXl {
        max-width: 400px;
        margin-left: auto;

        @include downMd {
            margin-left: auto;
            margin-right: auto;
        }

        @include downSm {
            margin-left: 25px;
            margin-right: 25px;
        }
    }
}

.promotion-main--mains-eight--product {
    @include downMd {
        padding-top: 30px;
    }
}

.promotion-main--mains-eight--product-class {
    height: 100%;
    box-shadow: $boxShadow1;

    .row {
        width: 100%;
    }
}

.promotion-main--mains-eight--product-class-image {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    width: 100%;

    .wrapImgResize {
        width: 100%;
    }
}

/* =============================
        GALLERY DETAIL LAYOUT
============================= */
.galleryDetail {
    .detailList {
        margin-top: 15px;
    }

    .wrapGalleryTab {
        margin-top: 30px;
    }

    .postOther {
        margin-top: 60px;

        @include downLg {
            margin-top: 30px;
        }
    }

    .wrapTextDes {
        text-align: center;

        span {
            display: inline-block;
            width: 80%;

            @include downLg {
                width: unset;
                font-size: 14px;
            }
        }
    }

    .rowList {
        margin-left: -7.5px;
        margin-right: -7.5px;

        @include downXxl {
            margin-left: -4px;
            margin-right: -4px;
        }
    }

    .colItem {
        margin-top: 15px !important;
        padding-left: 7.5px;
        padding-right: 7.5px;

        @include downXxl {
            padding: 0 4px;
            margin-top: 8px !important;
        }
    }

    .detailList {
        @include downXxl {
            margin-top: 22px;
        }

        @include downLg {
            margin-top: 0;
        }

        .itemList {
            margin-top: 0;
        }

        .contentItem {
            cursor: pointer;
            border-radius: 4px;
            overflow: hidden;

            .wrapImg {
                position: relative;
            }

            .wrapImgResize {
                transition: .5s;
            }

            .wrapIcon {
                position: absolute;
                top: 60%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: .5s;
                cursor: pointer;
                color: $color1;

                svg {
                    width: 40px;
                    height: 40px;
                }
            }

            &:hover {
                .wrapImgResize {
                    transform: scale(1.2)
                }

                .wrapIcon {
                    opacity: 1;
                    top: 50%;
                }
            }
        }
    }
}

/* =============================
        News Detail
============================= */
.wrapNewsDetailLayout .newsDetailTwo {
    a {
        text-decoration: none;
    }

    @include upLg {
        @include down-1600 {
            .colText {

                flex: 0 0 68%;
                max-width: 68%;
            }

            .colPost {
                flex: 0 0 32%;
                max-width: 32%;
            }
        }
    }

    .colPost {
        @include downLg {
            margin-top: 30px;
        }
    }

    .wrapMainImg {
        margin-bottom: 15px;
    }

    .wrapMainImg img {
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: auto;
        border-radius: 4px;
    }

    .wrapInfo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        flex-wrap: wrap;
        gap: 30px;
        row-gap: 15px;
    }

    .listTimeAndView {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .wrapIconAndText {
        display: flex;
        align-items: center;
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 500;
        white-space: nowrap;

        &:not(:first-child) {
            border-left: 1px solid $color10;
            padding-left: 15px;
        }

        &:not(:last-child) {
            margin-right: 15px;
        }

        .icon {
            font-size: 14px;
            display: flex;
            align-items: center;
            color: $color14;

            @include downLg {
                font-size: 14px;

            }
        }

        svg {
            width: 16px;
            height: 16px;
            margin-right: 5px;

            @include downLg {
                width: 14px;
                height: 14px;
            }
        }
    }

    .titleSection {
        display: inline-block;
        margin-bottom: 30px;
        text-transform: capitalize;

        .wrapLogo {
            width: 120px;
        }

        .titleMain {
            padding: 0;

            @include upSm {
                font-size: 34px;
            }
        }
    }

    .mainTitle {
        margin-bottom: 15px;
        font-size: 32px;
        color: $color2;
        font-weight: 700;
        text-transform: uppercase;
        border-top: 1px dashed $color10;
        padding-top: 15px;

        @include down-1300 {
            font-size: 26px;
        }

        @include downLg {
            font-size: 22px;
            margin-bottom: 5px;
        }
    }


    .infoShare {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .wrapShare {
            width: 100%;
        }

        .share-inline-share-buttons {
            width: 100%;
            text-align: unset !important;
        }

        @include downMd {
            width: 100%;
        }
    }

    .wrapTextEditor {
        background-color: $color29;
        border: 1px solid $color5;
        padding: 15px;
        border-radius: 4px;

        @include downSm {
            margin-left: -15px;
            margin-right: -15px;
        }
    }

    .wrapServicePost {
        .titleItem {
            font-size: 16px;
            font-weight: 700;
            transition: .5s;
            cursor: pointer;
            margin-bottom: 5px;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            color: $color2;

            &:hover {
                color: $color3;
            }

            @include upLg {
                @include down-1300 {
                    -webkit-line-clamp: 1;
                }
            }
        }

        .title {
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 15px;
            color: $color2;
        }

    }

    .wrapListPost {
        margin-bottom: 20px;

        .wrapPost {
            .colItem {
                display: flex;
                margin-bottom: 15px;

                @include down-1300 {
                    margin-left: -7.5px;
                    margin-right: -7.5px;
                }

                &:hover {
                    .wrapLogo {
                        opacity: 1;
                        visibility: visible;

                        img {
                            transform: scale(1);
                        }
                    }
                }
            }


            .wrapImg,
            .wrapContent {
                @include down-1300 {
                    padding-left: 7.5px;
                    padding-right: 7.5px;
                }
            }

            .wrapImg {
                flex-shrink: 0;
                width: 140px;
                position: relative;
                border-radius: 4px;
                overflow: hidden;

                @include downLg {
                    width: 150px;
                }
            }

            .wrapIconAndText {
                border: none;
                padding: 0;
                font-size: 14px;
                color: $color14;
            }

            .wrapLogo img {
                width: 46%;
                min-width: unset;
            }

            .wrapContent {
                padding-left: 10px;
                padding-right: 10px;
                border-left: unset;
                border-radius: 0 5px 5px 0;
            }

            .titleItem {
                text-transform: capitalize;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-word;
            }
        }
    }

    /* =============== || Category List || =============== */
    .listCategory {
        .titleItem {
            display: inline-block;
            color: $color2;
            margin-bottom: 0;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;

            @include downSm {
                font-size: 14px;
            }
        }

        span {
            color: $color14;
            font-weight: 400;
            margin-left: 5px;
        }

        .itemCategory {
            display: block;
            padding: 8px 16px;
            border-radius: 4px;
            color: $color14;
            background-color: $color29;
            border: 1px solid $color5;
            margin-bottom: 10px;
            transition: .5s;

            &:hover {
                border-color: $color3;

                .titleItem {
                    color: $color3;
                }
            }
        }
    }
}

/* =============================
        Btn Share
============================= */
.wrapShare {
    margin-top: 30px;
    display: flex;
    align-items: center;
    max-width: 100%;

    .titleShare {
        margin-right: 15px;
        font-weight: 700;
        margin-bottom: 0;
        white-space: nowrap;
    }

    .st-btn {
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;

        &.copied {
            pointer-events: none;
            background-color: #16a34a !important;
        }
    }

    .st-btn>svg {
        display: inline-block;
        color: white;
    }

    .st-btn[data-network='zalo'] {
        padding: 0 3px !important;
        min-width: 36px;
    }

    .zalo-share-button {
        height: 100%;
        position: relative;

        &::before {
            -webkit-animation: button-loading-spinner .7s linear infinite;
            animation: button-loading-spinner 1s linear infinite;
            border: 3px solid;
            border-color: #fff #fff transparent;
            border-radius: 50%;
            content: "";
            left: 50%;
            margin-left: -10px;
            margin-top: -10px;
            position: absolute;
            top: 50%;
            width: 20px;
            height: 20px;
            background: none;
            pointer-events: none;
        }
    }

    .share-inline-share-buttons {
        white-space: nowrap;
    }

    @media (max-width: 991px) {
        margin-top: 15px;
    }

    @media (max-width: 575px) {
        margin-top: 20px;

        .titleShare {
            font-size: 14px;
        }
    }
}

@keyframes button-loading-spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(1turn);
    }
}

.st-close {
    span {
        display: none;
        font-size: 16px;
        font-weight: 600;
    }

    @media (max-width: 991px) {
        bottom: 0 !important;
        right: 0 !important;
        width: 100% !important;
        border-radius: 0 !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        -ms-border-radius: 0 !important;
        -o-border-radius: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px !important;

        span {
            display: block;
        }

        svg {
            display: none;
        }
    }
}

/* =============================
    Text Editor Content
============================= */
.wrapTextEditor {
    text-align: justify;
    margin-top: 20px;

    * {
        padding: initial;
        margin: initial;
    }

    >* {
        margin-bottom: 15px;
    }

    >*:last-child {
        margin-bottom: 0;
    }

    h3,
    h4,
    h5,
    h6 {
        text-transform: capitalize;
        font-size: 20px;
        font-weight: 800;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    img {
        display: block;
        overflow-x: hidden;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    em {
        text-align: center;
        font-size: 14px;
        margin-bottom: 30px;
        display: block;
    }

    ul {
        list-style: initial;
        padding-left: 22px;
    }

    .table {
        overflow-x: auto;
        max-width: 100%;
    }

    table {
        margin-top: 15px;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;

        th,
        td {
            padding: 10px;
            border: 1px solid $color28 !important;
            text-align: center;
            font-weight: 500;

            @include downLg {
                padding: 5px;
                font-size: 14px;
            }

            @include downMd {
                min-width: 200px;
            }
        }

        thead tr th {
            color: $color4;
            font-weight: 700;
        }

        td {
            vertical-align: middle;
        }

        .td-inline-block {
            display: inline-block;
        }

    }

    @media only screen and (max-width: 991px) {
        margin-top: 15px;

        h3,
        h4,
        h5,
        h6 {
            margin-top: 15px;
            margin-bottom: 15px;
            font-weight: 700;
        }
    }

    @media only screen and (max-width: 739px) {
        margin-top: 15px;
        font-size: 14px;

        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 10px;
        }
    }
}

/* =============================
        Pagination
============================= */
.wrapPagination {
    margin: auto;
    text-align: center;
    display: table;
    margin-top: 60px;

    @include downLg {
        margin-top: 40px;
    }
}

.pagingItem {
    position: relative;
    font-size: 16px;
    transition: .3s;
    float: left;
    margin: 0 5px;
    width: 45px;
    height: 45px;
    background-color: $color1;
    border-radius: 100%;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    isolation: isolate;
    z-index: 1;
    overflow: hidden;
    color: $color2;

    &:not(.active)::after {
        position: absolute;
        width: 110%;
        padding-top: 110%;
        top: 50%;
        left: 50%;
        background-color: $color1;
        content: "";
        transform: translate3d(-50%, -50%, 0) scale(1);
        z-index: -1;
        pointer-events: none;
        transition: .5s;
        border-radius: 100%;
    }


    svg {
        display: inline-block;
        height: 20px;
    }

    &.active {
        background-color: $color3;

        &:hover {
            color: $color2 !important;
            background-color: $color3 !important;
        }
    }

    &:hover {
        color: $color2;
        background-color: $color3;

        &::after {
            transform: translate3d(-50%, -50%, 0) scale(0);
        }
    }
}

@media (max-width: 575px) {
    .wrapPagination {
        margin-top: 30px;
    }

    .pagingItem {
        font-size: 14px;
        width: 40px;
        height: 40px;
        line-height: 38px;

        svg {
            width: 15px;
            height: 18px;
        }
    }
}

@media (max-width: 359px) {
    .pagingItem {
        width: 30px;
        height: 30px;
        line-height: 28px;

        svg {
            width: 10px;
            height: 14px;
        }
    }
}

/* =============================
        Conffeti
============================= */
#confetti {
    position: relative;
    z-index: 10000000000;
}

/* =============================
        Modal
============================= */
.modal {
    .modal-title {
        text-transform: capitalize;
        font-weight: 600;
    }

    .modal-footer {
        display: block;
        border: none;
        background-color: $color5;

        >* {
            margin: initial;
        }

        .row {
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}