.footer {
    position: relative;

    .contentMain {
        background-color: $color5;
        padding-top: 30px;
        padding-bottom: 30px;

        @include down-1220 {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }

    .contentItem .col-xl:first-child {
        @include upXl {
            flex: 1.5;
        }
    }

    .separator {
        width: 100%;
        border-top: 1px solid $color23;
        margin: 30px 0;
    }

    .rowList {
        margin-top: -30px;
    }

    .colItem {
        margin-top: 30px;
    }

    .titleFooter {
        color: $color2;
        margin: 0 0 10px 0;
        font-size: 22px;
        font-weight: 600;
        text-transform: capitalize;

        @include downXxl {
            font-size: 20px;
        }

        @include downMd {
            font-size: 18px;
            margin-bottom: 6px;
        }
    }

    /* ==================== || Subscribe & Form footer || ==================== */
    .wrapSubscribe {
        .titleMain {
            text-align: center;
            font-weight: 700;
            font-size: 30px;
            text-transform: capitalize;

            @include downMd {
                font-size: 26px;
            }
        }
    }

    .frmFooter {
        max-width: 926px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        margin-top: 30px;

        @include downMd {
            flex-wrap: wrap;
        }

        @include down-442 {
            flex-direction: column;
            margin-top: 15px;
        }

        &.invalid {
            @include up-443 {
                @include downMd {
                    padding-bottom: 10px;
                }
            }
        }

        .formContent {
            flex: 1;
            margin-right: 24px;
            margin-top: 0;
            position: relative;

            .msgText {
                padding-left: 10px;
            }

            @include downLg {
                margin-right: 15px;
            }

            @include downSm {
                width: 50%;

                @include up-443 {
                    &:nth-child(2) {
                        margin-right: 0;
                    }
                }
            }

            @include down-442 {
                width: 100%;
                margin-top: 15px;
            }
        }

        .inputItem {
            padding-left: 20px;

            &:focus {
                background-color: $color1;
            }
        }

        .inputGroupItem {
            background-color: $color1;
            border-radius: 50px;
            border-color: $color3 !important;
        }

        .btnSend {
            align-self: normal;

            @include downSm {
                width: 100%;
                margin-top: 15px;
            }
        }
    }

    /* ==================== || Ministry Image || ==================== */
    .wrapMinistryLogo {
        width: 174px;
        margin-top: 15px;

        @include downSm {
            margin-top: 10px;
            width: 120px;
        }
    }

    /* ==================== || Logo || ==================== */
    .wrapLogo {
        img {
            width: auto;
            height: 50px;

            @include downLg {
                height: 40px;
            }
        }
    }

    /* ==================== || Social || ==================== */
    .wrapSocial {
        display: flex;

        .listItem {
            &::after {
                display: block;
                content: "";
                clear: both;
              }
        }

        .linkItem {
            display: flex;
            align-items: center;
            text-align: center;
            margin-left: 30px;
            color: var(--color-white);
            border-radius: 5px;
            transition: .5s;
            padding: 10px 0;
            float: left;
            transition: all .5s;
            transition-timing-function: cubic-bezier(0.47, 2.02, .31, -.36);

            @include downXl {
                margin-left: 25px;
            }

            @include downSm {
                margin-left: 20px;
            }

            &:first-child {
                margin-left: 0;
            }

            img {
                height: 36px;
                width: auto;

                @include downXxl {
                    height: 30px;
                }
            }

            &:hover {
                transform: scale(1.2);
                opacity: 0.8;
            }
        }
    }

    /* ==================== || Menu List || ==================== */
    .wrapMenu {
        margin-top: 15px;

        @include downMd {
            margin-top: 5px;
        }

        .linkItem {
            text-transform: capitalize;
            border-radius: 5px;
            color: $color2;
            position: relative;
            margin-top: 10px;
            display: flex;
            align-items: center;
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            transition: .5s;

            &:hover {
                color: $color3;
            }

            a {
                color: currentColor;
                text-decoration: none;
            }

            @include downXxl {
                font-size: 16px;
            }

            @include downLg {
                font-size: 14px;
            }

            @include downMd {
                margin-top: 8px;
            }

            &:nth-child(1) {
                margin-top: 0;
            }

            svg {
                position: relative;
                width: 13px;
                height: 13px;
                margin-right: 6px;
                color: $color14;
            }
        }

        &.wrapIconAndText {
            svg {
                color: $color2;
                flex-shrink: 0;
                width: 18px;
                height: 18px;
                position: unset;
                margin-right: 16px;
            }
        }
    }

    .wrapContact .linkItem {
        text-transform: none;
    }
}

/* ==================== || CopyRight || ==================== */
.wrapCopyright {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
    background-color: $color30;

    .colCopyRight {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        text-align: center;

        @include downMd {
            flex-direction: column;
            justify-content: center;
        }
    }

    .titleCopyright {
        display: flex;

        @include upMd {
            padding-right: 30px;
        }

        span {
            color: #666;
            transform: translate(15px, 0);
        }
    }

    .titleDeveloper {
        a {
            color: $color1;
        }

        @include downLg {
            margin-top: 5px;
        }
    }

    .titleCopyright,
    .titleDeveloper {
        color: $color1;

        @include downLg {
            text-align: center;
        }

        p {
            margin: 0;
        }
    }
}