$color-track: #eeeeee;
$color-thumb: #cacaca;
$color-thumb-hover: $color3;

// Header
.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-family: 'Quicksand-Bold';
        font-weight: 700;
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: capitalize;

        &--left {
            display: flex;
            margin-bottom: 0;

            &-item {
                list-style: none;
                margin-right: 30px;

                a {
                    color: #ffffff;
                    text-decoration: none;
                }

            }
        }

        .logo {
            img {
                height: 70px;
                transition: .5s;

                @include downXxl {
                    height: 50px;
                }
            }
        }

        &--right {
            display: flex;
            margin-bottom: 0;

            &-item {
                list-style: none;
                margin-right: 30px;

                a {
                    color: #ffffff;
                    text-decoration: none;
                }
            }
        }
    }

    .wrap-cart-header {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: -10px;
            bottom: -10px;
            right: -10px;
        }

        .text-qtt {
            position: absolute;
            top: 12px;
            right: 8px;
            transform: translate(100%, -100%);
            width: 28px;
            height: 28px;
            transition: 0.5s;
            background-color: $color3;
            color: $color1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 14px;
            border-radius: 100%;

            @include down-1220 {
                width: 24px;
                height: 24px;
                font-size: 12px;
            }

            @include downSm {
                top: 14px;
                right: 6px;
                font-size: 11px;
            }
        }

        svg {
            width: 20px;

            @include down-1220 {
                width: 18px;
            }

            @include downSm {
                width: 14px;
            }
        }
    }
}

.wrapCart {
    position: relative;

    .dropdown-menu {
        display: block !important;
        opacity: 0;
        visibility: hidden;
        transform: translateY(60px);
        transition: all 0.3s ease-in;
        pointer-events: none;
        right: -15px !important;
        min-width: 400px;
        margin-top: 15px !important;
        top: 0px;
        left: unset;
        box-shadow: 0 0 2px 3px rgba(255, 255, 255, 0.1);
    }

    .dropdown-menu.show {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }

    @include upXl {
        &.isShow:hover {
            .dropdown-menu {
                pointer-events: all;
                visibility: visible;
                opacity: 1;
                transform: translateY(33px);
            }
        }
    }
}


.wrapHeaderCart {
    min-width: 400px;
    margin-top: 15px !important;
    top: 0px;
    left: unset;
    // @include boxShadow($boxShadow7);

    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: -15px;
        width: 100%;
        height: 15px;
    }

    &::after {
        content: "";
        position: absolute;
        top: -8px;
        right: 16px;
        width: 15px;
        height: 15px;
        transform: rotate(45deg);
        background-color: $color1;
    }

    .wrapList {
        padding: 10px 5px;
    }

    ul {
        max-height: 222px;
        overflow-y: auto;
        padding: 0;

        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 20px;
            background: $color-thumb;

            &:hover {
                background: $color-thumb-hover;
            }
        }

        &::-webkit-scrollbar-track {
            border-radius: 20px;
            background: $color-track;
        }
    }

    li {
        padding: 4px 8px;
        display: flex;

        &:not(:last-child) {
            border-bottom: 1px solid $color19;
            margin-bottom: 4px;
            padding-bottom: 8px;
        }
    }

    .wrapImg {
        width: 60px;
        flex-shrink: 0;
        background-color: $color29;
        margin-right: 10px;
        border-radius: 4px;
    }

    .wrapText {
        width: 100%;
    }

    .titleMain {
        font-size: 14px;
        font-weight: 600;
        margin-bottom: 5px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-word;
    }

    .wrapPriceQuantity {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }

    .wrapPrice {
        margin-bottom: 0;

        .mainPrice {
            font-size: 16px;
            margin-left: 0;
            margin-right: 5px;
            color: $color11;
        }

        .subPrice {
            font-size: 12px;
        }
    }

    .wrapBtn a,
    .wrapBtn .btn1 {
        display: flex;
        height: 38px;
        font-size: 14px;
        margin: 5px 10px 10px;
    }
}


.fixedMenu {
    .head {
        background-color: $color2;
    }

    .logo img {
        height: 40px;

        @include downSm {
            height: 36px;
        }
    }
}