// Header
.header {
    position: fixed;
    width: 100%;
    z-index: 100;

    &-top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-family: 'Quicksand-Bold';
        font-weight: 700;
        padding-top: 15px;
        padding-bottom: 15px;
        text-transform: capitalize;

        &--left {
            display: flex;
            margin-bottom: 0;

            &-item {
                list-style: none;
                margin-right: 30px;

                a {
                    color: #ffffff;
                    text-decoration: none;
                }

            }
        }

        .logo {
            img {
                height: 70px;
                transition: .5s;
            }
        }

        &--right {
            display: flex;
            margin-bottom: 0;

            &-item {
                list-style: none;
                margin-right: 30px;

                a {
                    color: #ffffff;
                    text-decoration: none;
                }

                img {
                    height: 24px;
                }
            }
        }
    }
}

.fixedMenu{
    .head {
        background-color: $color2;
    }

    .logo img {
        height: 40px;
    }
}