.section-head {
    background-image: url(..//..//images/heroSlide/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .header-bottom {
        height: 100vh;
        color: #ffffff;
        text-align: center;

        &--left {
            margin: 0 auto;
            max-width: 600px;
            text-align: left;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            .logo_la {
                display: flex;

                p {
                    font-size: 30px;
                    font-family: 'CormorantGaramond-MediumItalic';
                    font-weight: 300;
                }

                img {
                    padding-bottom: 10px;
                    width: 80px;
                    height: 50px;
                    padding-top: 15px;
                    margin-left: 18px
                }
            }

            h1 {
                font-size: 55px;
                font-family: 'Quicksand-Bold';
                font-weight: 700;
                margin: 0;
                letter-spacing: 8px;
            }

            .but {
                text-align: center;

                button {
                    background-color: #FFCC66;
                    min-width: 141.9px;
                    min-height: 50px;
                    border: none;
                    border-radius: 73px;
                    margin: 16px -3px;
                }
            }

        }

        &--right {
            position: absolute;
            right: 0;
            top: 50%;
            bottom: -50%;

            &-item {
                list-style: none;
            }
        }
    }
}