.promotion-main {
    .wrapPromotionSlide {
        width: 100%;
    }

    &--mains {
        background-color: #fcf8ef;
        padding-bottom: 20px;
        margin-top: 90px;

        &-four {
            &-image {
                position: relative;
                padding: 20px;
                margin-top: -60px;

                .img1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                }

                .img2 {
                    width: 100%;
                    max-width: 410px;
                    border-radius: 230px 230px 0 0;
                }

                .img3 {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: -40px;
                }
            }
        }

        &-eight {
            .wrap-content {

                @include upXl {
                    padding-left: 35px;
                }
            }

            &--time {
                display: flex;
                justify-content: center;

                .text-item {
                    padding: 0 40px;
                    position: relative;
                    text-align: center;

                    &:not(:last-child)::before {
                        content: "";
                        position: absolute;
                        top: 55%;
                        right: 0;
                        transform: translateY(-50%);
                        height: 70%;
                        border-left: 1px solid $color23;
                    }
                }

                h2 {
                    font-family: 'Quicksand-Bold';
                    font-weight: 700;
                    font-size: 50px;
                    
                    @include downMd {
                        font-size: 38px;
                    }
                }

                p {
                    margin: 0;
                }

            }

            &--product {
                display: flex;
                padding-top: 60px;

                &-class {
                    background-color: white;
                    display: flex;
                    justify-content: space-between;
                    padding: 15px;

                    &-image {
                        background-color: #fcf8ef;
                        width: 110px;
                        text-align: center;
                    }

                    &-information {
                        h2 {
                            font-size: 17px;
                        }

                        p {
                            color: gray;
                            font-size: 12px;
                            text-decoration: line-through;
                        }

                        .free {
                            display: flex;
                            align-items: center;

                            h3 {
                                font-size: 17px;
                                margin-right: 10px;
                            }

                            p {
                                text-decoration: none;
                                color: red;
                                border: 1px solid;
                                margin: 0;
                                border-radius: 4px;
                                padding: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}