.promotion-main {
    &--mains {
        background-color: #fcf8ef;
        padding-top: 100px;
        &-four{
            .img1{
                position: absolute;
            }
            .img2{
                margin-left: 13px;
                margin-top: 20px;
                max-width: 410px;
                border-radius: 230px 230px 0 0;
            }
            .img3{
                
            }
        }
        &-eight{
            &--time{
                display: flex;
                justify-content: space-evenly;
                h2{
                    font-family: 'Quicksand-Bold';
                    font-weight: 700;
                    font-size: 50px;
                }

                .minute{
                    
                }
            }
        }
    }
}