.second-main {

    &--row {

        &-col1 {
            text-align: right;
        }

        img {
            max-width: 450px;
        }

        h2 {
            font-size: 35px;
            font-family: 'CormorantGaramond-MediumItalic';
            font-weight: 300;

            @include downSm {
                font-size: 24px;
            }
        }

        p {
            max-width: 550px;
            color: #555555;
        }

        .second-main--h1 {
            max-width: 390px;

            h1 {
                font-size: 35px;
                font-family: 'Quicksand-Bold';
                font-weight: 700;
                letter-spacing: 2px;

                @include downSm {
                    font-size: 26px;
                }
            }
        }

    }
}

.second-button {
    text-align: center;
    float: left;

    &--one {
        background-color: #FFCC66;
        min-width: 141.9px;
        padding: 0 15px;
        height: 50px;
        border: none;
        border-radius: 73px;
        margin: 16px 0;
        margin-bottom: 0;
        margin-right: 20px;

        @include downSm {
            margin-right: 15px;
            min-width: unset;
        }

        &:hover {
            background-color: gray;
        }
    }

    &--two {
        min-width: 190px;
        height: 50px;
        border: 2px solid #000000;
        border-radius: 73px;
        margin: 16px 0;
        margin-bottom: 0;
        padding: 0 15px;

        @include downSm {
            min-width: unset;
        }

        &:hover {
            background-color: #FFCC66;
        }
    }
}