.favorite-main {
    background-color: #fcf8ef;

    .swiper-slide {
        .favorite-main--product {
            opacity: 0;
        }
    }

    .swiper-slide-active {
        .favorite-main--product {
            opacity: 1;
        }
    }

    &--product {
        &-set {
            // flex-wrap: nowrap !important;

            &-one {
                text-align: right;

                img {
                    max-width: 500px;
                    width: 100%;
                }
            }

            &-two {
                h2 {
                    font-family: 'Quicksand-Bold';
                    font-weight: 700;
                }

                &--cost {
                    display: flex;

                    h3 {
                        color: #CC0000;
                        font-size: 18px;
                        margin: 0 10px;
                        font-family: 'Quicksand-Bold';
                        font-weight: 700;
                    }

                    #p1 {
                        color: gray;
                        font-size: 13px;
                        text-decoration: line-through;
                    }

                    #p2 {
                        color: #EE0000;
                        font-size: 10px;
                        border: 1px solid;
                        border-radius: 5px;
                    }
                }

                &--document {
                    max-width: 565px;
                    font-size: 16px;
                    color: #555555;
                }

                .second-button--two {
                    background-color: #fcf8ef;

                    &:hover {
                        background-color: #FFCC66;
                    }
                }
            }
        }
    }
}