.evalue-main {
    &--product {
        padding-bottom: 90px;
        &-row {
            &-col {
                
                &-evalue {
                    max-width: 600px;
                    background-color: #fcf8ef;
                    text-align: center;
                    border-radius: 10px;
                    box-shadow: 1px 2px 0 0 #CCCC;

                    h2 {
                        font-size: 20px;
                        font-family: 'Quicksand-Bold';
                        font-weight: 700;
                    }
                    p{
                        font-size: 15px;
                        color: #555555;
                    }
                    .star-evalue {
                        display: flex;
                        justify-content: center;

                        &-image {}

                        &-name {
                            &--number {
                                display: flex;
                                justify-content: center;

                                &-item {
                                    list-style: none;
                                    margin-right: 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}