// Buttons
.btn-cart {
    cursor: pointer;
}

.second-button--one,
.second-button--two {
    @include downXxl {
        height: 46px;
        font-size: 16px;
    }

    @include downMd {
        height: 38px;
        font-size: 14px;
    }
}