.container-xxl {
    max-width: 1368px;
    margin: 0 auto;
    position: relative;
    padding: 0 15px;
}

.wrapHome {
    position: relative;
}

.bgSection {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;

    ~ * {
        position: relative;
    }
}

.but {
    background-color: #FFCC66;
    min-width: 170px;
    min-height: 50px;
    border: none;
    border-radius: 25px;

    &:hover{
        background-color: #555555;
        color: white;
    }
}

/* =============================
    BACKGROUND SECTION
============================= */
.wrapHome .bgSection::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F3EDDD;
    opacity: 0.5;
  }
  
  /* =============================
      ULTILITIES SECTION
  ============================= */
  .first-main--row .col-3 img {
      max-width: 100px;
  }
  
  /* =============================
      ABOUT SECTION
  ============================= */
  .wrapHome .about-section .second-main--h1 {
      max-width: unset;
  }
  
  .wrapHome .about-section .second-main--h1 .title-main {
      font-size: 58px;
      font-weight: 700;
  }