@font-face {
    font-family: 'Quicksand-Regular';
    src: url(..//..//fonts/Quicksand-Regular.ttf);
    font-weight: 400;
  }

@font-face {
    font-family: 'Quicksand-Bold';
    src: url(..//..//fonts/Quicksand-Bold.ttf);
    font-weight: 700;
  }

  @font-face {
    font-family: 'Baskerville-Italic';
    src: url(..//..//fonts/Baskerville/Baskerville-Italic-03.ttf);
    font-weight: 300;
  }

  @font-face {
    font-family: 'LibreBaskerville-Italic';
    src: url(..//..//fonts/LibreBaskerville-Italic.eot);
    font-weight: 300;
  }

  @font-face {
    font-family: 'Georgia-Bold';
    src: url(..//..//fonts/Georgia-Bold.ttf);
    font-weight: 700;
  }

  @font-face {
    font-family: 'CormorantGaramond-MediumItalic';
    src: url(..//..//fonts/CormorantGaramond-MediumItalic.ttf);
    font-weight: 300;
  }