// Sass Variables
$grid-gutter-width: 20px !default;
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1368px
);

$color1: #fff;
$color2: #202020;
$color3: #EFC65A;
$color4: #323232;
$color5: #F3EDDD;
$color11: #B00D13;
$color22: #eeeeee;
$color23: #e1dabe;
$color14: #818181;
$color19: #f1f1f1;
$color29: #FCF7EE;
$color30: #5B5134;
$boxShadow1: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
$boxShadow3: 0px 1px 10px 0px #0000001a;